body {
	background: #C0C0C0;
	color: white;
}

div.card {
	background: url("../css/images/cardBack.png") no-repeat;
	background-size: cover;
	width: 200px;
	height: 290px;
	display: inline-block;
	margin: 20px;
	border: 10px solid white;
	border-radius: 10px;
	text-align: center;
}

div.flipped {
	border-color: #009933;
	background-size: cover;
}

div:not(.flipped):hover{
	opacity: 0.6;
    filter: alpha(opacity=60); /* IE8 and earlier */
}

div.message{
	color: #009933;
	background: white;
	border: 5px solid #009933;
	font-weight: bold;
	font-size: xx-large;
	border-radius: 20px;
	padding: 10px 0;
	text-align: center;
}

div.message button {
	display: list-item;
	float: left;
	padding: 5px;
	margin: 5px 10px;
	border-radius: 8px;
	color: white;
	font-weight: bold;
}

div.message button#reset {
	background: #533C69;
	border-color: #533C69;
}

div.message button#next {
	background: #F7851C;
	border-color: #F7851C;
}

div.countdown {
	font-size: xx-large;
	background: #313390;
	font-weight: bold;
	text-align: center;
	border-radius: 20px;
	padding: 15px 0;
}