<!DOCTYPE html>
<html ng-app="cardGame">
<head>
	<title>Memory Card Game</title>
	<meta name="author" content="Sergio Ortega"/>
	<title>Memory Card Game</title>
	<link rel="icon" href="css/images/cardIcon.png"/>
	<link rel="stylesheet" type="text/css" href="css/angular-block-ui.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-block-ui.min.js"></script>
	<script	type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="cardController as control">
	<div class="countdown" ng-show="(cardsNumber > 0)">Countdown: {{counter}}</div>
	<div class="message" ng-show="(cardsNumber <= 0)">WINNER!!
    	<button type="reset" id="reset" ng-click="resetGame()">Restart Game</button>
    	<button ng-click="nextLevel()" id="next" ng-show="moreLevels()">Next Level</button>
    </div>
	<div ng-repeat="data in cards" class="card" ng-class="{flipped: flippedCard}" ng-click="flipCard($event)"></div>
</body>
</html>